<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
    <!-- 引入 Bootstrap -->
    <!--
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<style>
    h1 {
        /*文字对齐*/
        text-align: center;
    }
</style>

<body>

<div class="container">
    <div style="display: flex;justify-content: space-between;width: 100%;align-items: center">
        <h3>课程列表</h3>
        <form action="/logout" method="post" style="float:right">
            <table>
                <tr>
                    <td colspan="2">
                        <button type="submit">退出登录</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--table-striped:斑马线格式，table-bordered：带边框的表格，table-hover：鼠标悬停高亮的表格-->
    <div class="content">
        <a href="/lessonSubscribe/list" style="float:right">已订阅课程</a>
    </div>
    <form action="/lessonSubscribe/lesson/list" method="get" >
        课程名称：<input type="text" name="lessonName"> 教师姓名：<input type="text" name="teacherName">
        <button type="submit">查询</button>
    </form>
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr style="text-align:center">
            <!--        th标签定义html表格中的表头单元格-->
            <th style="text-align:center">id</th>
            <th style="text-align:center">名称</th>
            <th style="text-align:center">教师</th>
            <th style="text-align:center">详情</th>
            <th style="text-align:center">是否订阅</th>
            <th style="text-align:center">操作</th>
        </tr>
        </thead>

        <tr th:each="lessonVo:${page.list}">
            <!--        td标签定义html表格中的标准单元格-->
            <td style="vertical-align: middle!important;"
                th:text="${lessonVo.lesson.id}"></td>
            <td style="vertical-align: middle!important;"
                th:text="${lessonVo.lesson.lessonName}"></td>
            <td style="vertical-align: middle!important;"
                th:text="${lessonVo.lesson.teacherName}"></td>
            <td style="vertical-align: middle!important;"
                th:text="${lessonVo.lesson.info}"></td>
            <td style="vertical-align: middle!important;"
                th:text="${lessonVo.subscribe}"></td>
            <td>
                <a class="btn btn-primary"
                   th:href="@{'/lessonSubscribe/subscribe/'+${lessonVo.lesson.id}}" th:disabled="${lessonVo.subscribe}">订阅</a>
            </td>
        </tr>
    </table>

    <!-- 显示分页信息 -->
    <div class="page">
        共[[${page.total}]]条/共[[${page.pages}]]页/第[[${page.pageNum}]]页/每页[[${page.pageSize}]]条
        <a href="/lessonSubscribe/lesson/list?pageNum=1" th:if="${not page.isFirstPage}">首页</a>
        <a th:href="'/lessonSubscribe/lesson/list?pageNum='+${page.prePage}" th:if="${not page.isFirstPage}">上一页</a>
        <a th:href="'/lessonSubscribe/lesson/list?pageNum='+${page.nextPage}" th:if="${not page.isLastPage}">下一页</a>
        <a th:href="'/lessonSubscribe/lesson/list?pageNum='+${page.pages}" th:if="${not page.isLastPage}">尾页</a>
    </div>
</div>
</body>

</html>
