<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>新增课程</title>
  <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div style="width:400px;height:100%;margin-left:450px;margin-top:100px;">
  <form action="/lesson/add" method="post">
    <input name="_method" type="hidden" value="put">
    名 称：<input class="form-control" type="text" name="lessonName"><br>
    教 师 姓 名：<input class="form-control" type="text" name="teacherName"><br>
    详 情：<input class="form-control" type="text" name="info"><br>
    <button class="btn btn-primary btn-lg btn-block" type="submit">保存</button>
  </form>
</div>

</body>
</html>


